<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title th:text="${title}"></title>
  <link rel="stylesheet" th:href="@{css/bootstrap.min.css}"/>
  <link rel="stylesheet" th:href="@{css/jquery.toast.min.css}"/>
  <link rel="stylesheet" th:href="@{css/application.css}"/>
</head>
</html>
