<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="script">
  <script type="text/javascript" th:src="@{js/jquery-3.2.1.min.js}"></script>
  <script type="text/javascript" th:src="@{js/bootstrap.min.js}"></script>
  <script type="text/javascript" th:src="@{js/jquery.toast.min.js}"></script>
  <script type="text/javascript" th:src="@{js/jquery-qrcode-0.14.0.min.js}"></script>
  <script type="text/javascript" th:src="@{js/ddsort.js}"></script>
</div>
</body>
</html>
