/* Create by Ayakura Yuki on 2017/10/18 */
@keyframes divFadeIn {
  0% {
    top: -20px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

$duration: 1s;

div {
  .jumbotron, .page-header, .input-group {
    animation: divFadeIn 0.5 * $duration;
  }

  #add-record-item-button-div {
    animation: divFadeIn 0.5 * $duration;
  }

  #search-div, #detail-div, #form-div, #auth-div, #key-code-div, #QRCode-div {
    animation: divFadeIn 1 * $duration;
  }

  #table-div, #register-div {
    animation: divFadeIn 1.2 * $duration;
  }

  #emergencyCodes {
    font-family: Menlo, "Source Code Pro", Consolas, Monaco, monospace;
  }
}
