<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="content" type="cc.ayakurayuki.contentstorage.module.content.entity.Content"*/-->
<!--/*@thymesVar id="list" type="java.util.List<java.util.Map<java.lang.String, java.lang.String>>"*/-->
<head th:include="common/head::head('Detail')"></head>
<body>
<th:block th:include="common/navbar::navbar"/>

<div class="container">
    <div class="jumbotron">
        <h2 th:text="${content.item}">account.item</h2>
        <small th:text="${content.id}">account.id</small>
    </div>
    <div id="detail-div" class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th width="30%">Key</th>
                        <th width="70%">Value</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item:${list}">
                        <td th:text="${item.get('key')}">item.key</td>
                        <td th:text="${item.get('value')}">item.value</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>

<th:block th:include="common/script::script"/>
</body>
</html>
