<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="list" type="java.util.List<cc.ayakurayuki.contentstorage.module.content.entity.Content>"*/-->
<head th:include="common/head::head('Dashboard')"></head>
<body>
<th:block th:include="common/navbar::navbar"/>

<!--/* Context */-->
<div class="container">
  <!--/* Jumbotron */-->
  <div class="jumbotron">
    <h2>Codex Dashboard</h2>
    <p>To make the manage of your data easily.</p>
  </div>
  <!--/* add item button(in fact that's an <a> tag) and search bar */-->
  <div id="search-div" class="row" style="margin: 0 20px 20px 20px;">
    <div class="col-md-2"></div>
    <div class="col-md-1">
      <div class="input-group">
        <a th:href="@{/form}" class="btn btn-primary">Add item</a>
      </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-6">
      <form th:action="@{/search}" method="post">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">Name of Item</span>
          <input type="text" class="form-control" id="item" name="item"
                 placeholder="enter the item's name which you wanna search for..."
                 aria-describedby="basic-addon1"/>
          <span class="input-group-btn">
            <button class="btn btn-info" type="submit">GoGoGo!!</button>
          </span>
        </div>
      </form>
    </div>
    <div class="col-md-2"></div>
  </div>
  <!--/* table */-->
  <div id="table-div">
    <table class="table table-striped table-hover" align="center">
      <thead>
      <tr>
        <th width="50%">Item</th>
        <th width="50%">Operation</th>
      </tr>
      </thead>
      <tbody>
      <tr align="center" th:each="item:${list}">
        <td th:text="*{item.item}" style="font-size: 17px;line-height: 35px;"></td>
        <td>
          <a th:href="@{'/detail?id='+${item.id}}" class="btn btn-sm btn-info">Detail</a>
          <a th:href="@{'/form?id='+${item.id}}" class="btn btn-sm btn-info">Edit</a>
          <button th:onclick="'javascript:deleteConfirm(\''+*{item.id}+'\')'"
                  type="button" class="btn btn-sm btn-warning" data-toggle="modal" data-target="#delete">
            Delete
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<!--/* Delete confirm modal */-->
<div id="delete" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Warning!!</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you wanna delete this record? Make sure you know what you're doing!</p>
        <input type="hidden" id="deleteID"/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Forget it, I wanna keep this one.
        </button>
        <a href="#" class="btn btn-info" onclick="TODODelete()">Yes I sure, just DO IT!</a>
      </div>
    </div>
  </div>
</div>

<th:block th:include="common/script::script"/>
<script type="text/javascript">
  function deleteConfirm(id) {
    $('#deleteID').val(id);
  }

  function TODODelete() {
    var id = $('#deleteID').val();
    $.ajax({
      url: "/delete?id=" + id,
      type: "GET",
      success: function () {
        $('#delete').modal('hide');
        $.toast({
          heading: 'Done!',
          text: 'Your record has been deleted, and it just say good bye to you.',
          showHideTransition: 'slide',
          position: 'bottom-center',
          icon: 'success'
        });
        window.setTimeout(function () {
          window.location.reload()
        }, 3500);
      },
      error: function () {
        $.toast({
          heading: 'Oops!!',
          text: 'I can\'t catch it.',
          showHideTransition: 'slide',
          position: 'bottom-center',
          icon: 'error'
        })
      }
    })
  }
</script>
</body>
</html>
