<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common/head::head('Reset 2FA method')"></head>
<body>
<div th:include="common/page-header::header(
    'Reset your 2FA',
    'I notice that you\'ve already registered 2FA method.<br/><br/>'
    + 'To continue, I request a recovery code, then help you to setup a new 2FA method, <br/>'
    + 'or just let you get into dashboard without any action.')" align="center"></div>
<div id="key-code-div" class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div align="center">
      <form th:action="@{/doReset2FA}" method="post">
        <div class="input-group">
          <span class="input-group-addon">Recovery Code</span>
          <input type="text" class="form-control" id="recoveryCode" name="recoveryCode" aria-describedby="basic-addon1"
                 required="required"/>
        </div>
        <br/>
        <input type="submit" class="btn btn-warning" value="Submit code"/>
      </form>
    </div>
  </div>
  <div class="col-md-3"></div>
</div>

<th:block th:include="common/script::script"/>
</body>
</html>
