<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common/head::head('Two-step Authentication')"></head>
<body>
<div class="container">
  <div class="page-header" align="center">
    <h1>Content Storage App
      <br/>
      <small>
        I need to confirm your identity before your access.<br/>
        Please enter the code from Google Authenticator on your phone.
      </small>
    </h1>
  </div>
  <div id="auth-div" class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div>
        <form th:action="@{/two-step-auth}" method="post">
          <div class="input-group">
            <span class="input-group-addon">Code</span>
            <input type="text" class="form-control" id="authCode" name="authCode" aria-describedby="basic-addon1"
                   required="required"/>
          </div>
          <br/>
          <button class="btn btn-primary center-block">Enter</button>
        </form>
      </div>
      <br/><br/>
    </div>
    <div class="col-md-4"></div>
  </div>
  <div id="register-div" class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <h4 align="center">First time use?&nbsp;&nbsp;Or just lost your Google Authenticator app?</h4>
      <br/>
      <a th:href="@{/register-two-step}" class="btn btn-info center-block">Here to setup your Two-Step
        Authentication.</a>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>

<th:block th:include="common/script::script"/>
</body>
</html>
